.login__form {
  height: auto;
  width: 400px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  display: flex;
  margin-bottom: 144px;
  margin-top: 40px;
  border-radius: 40px;
}
.signup__form{
  display: none;
  height: auto;
  width: 400px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 40px;
  border-radius: 40px;
}
#goToLogIn, #goToSignUp {
  cursor: pointer;
  color: blue;
}
#bgLogin {
  width: 100%;
  z-index: -1;
  height: 800px;
  display: flex;
  position: fixed;
  top :0px;
  opacity: 0.9;
  
}
/* Bordered form */
form {
  z-index: 1;
  border: 5px solid #e7dfcf;
  border-radius: 40px;
  
  padding-bottom: 10px;
  font-family: "Circular Std",sans-serif;
}

.caption {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    color: rgb(173, 131, 24);
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgb(173, 131, 24);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
  
/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 5px;
}
.container u {
  text-decoration: none;
}

/* Change styles for span and cancel button on extra small screens */



@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

#user__name, #user__name2, #password, #password2, #password3,button, .cancelbtn {
  border-radius: 10px;
}
.cancelbtn {
  background-color: rgb(165, 164, 164);
}